mixin guests
  - var guestsItems = [{"guest":{"img":"img/user-1.jpg","name":"alex","id":"#921"},"dateOrder":{"date":"12/01/2021","time":"09.49AM"},"checkIn":{"date":"12/01/2021","time":"09.49AM"},"checkOut":{"date":"12/01/2021","time":"09.49AM"},"roomType":{"name":"deluxe twin rooms","type":"twin rooms"},"status":{"name":"reserved","class":"btn-primary"}},{"guest":{"img":"img/user-2.jpg","name":"michael","id":"#81"},"dateOrder":{"date":"12/01/2021","time":"09.49AM"},"checkIn":{"date":"12/01/2021","time":"09.49AM"},"checkOut":{"date":"12/01/2021","time":"09.49AM"},"roomType":{"name":"deluxe standard rooms","type":"queen size"},"status":{"name":"pending","class":"btn-secondary"}},{"guest":{"img":"img/user-3.jpg","name":"julian","id":"#185"},"dateOrder":{"date":"12/01/2021","time":"09.49AM"},"checkIn":{"date":"12/01/2021","time":"09.49AM"},"checkOut":{"date":"12/01/2021","time":"09.49AM"},"roomType":{"name":"deluxe single room","type":"single room"},"status":{"name":"cancelled","class":"btn-danger"}},{"guest":{"img":"img/user-4.jpg","name":"charles","id":"#9751"},"dateOrder":{"date":"12/01/2021","time":"09.49AM"},"checkIn":{"date":"12/01/2021","time":"09.49AM"},"checkOut":{"date":"12/01/2021","time":"09.49AM"},"roomType":{"name":"deluxe single rooms","type":"single room"},"status":{"name":"refund","class":"btn-warning"}},{"guest":{"img":"img/user-5.jpg","name":"christina","id":"#75"},"dateOrder":{"date":"12/01/2021","time":"09.49AM"},"checkIn":{"date":"12/01/2021","time":"09.49AM"},"checkOut":{"date":"12/01/2021","time":"09.49AM"},"roomType":{"name":"deluxe standard rooms","type":"queen size"},"status":{"name":"pending","class":"btn-secondary"}},{"guest":{"img":"img/user-6.jpg","name":"jurika","id":"#580"},"dateOrder":{"date":"12/01/2021","time":"09.49AM"},"checkIn":{"date":"12/01/2021","time":"09.49AM"},"checkOut":{"date":"12/01/2021","time":"09.49AM"},"roomType":{"name":"deluxe presidential rooms","type":"presidential"},"status":{"name":"reserved","class":"btn-primary"}}]
  div
    for guest in guestsItems
      tr.v-align-middle
        td
          .d-flex.align-items-center
            img.me-3.img-cover.rounded-3(src=guest.guest.img width=80 height=80)
            .d-flex.flex-column
              span.me-5.text-capitalize.text-primary= guest.guest.id
              span.me-5.text-uppercase= guest.guest.name
        td.text-capitalize
          p.mb-0= guest.dateOrder.date
          p.mb-0= guest.dateOrder.time
        td.text-capitalize
          p.mb-0= guest.checkIn.date
          p.mb-0= guest.checkIn.time
        td.text-capitalize
          p.mb-0= guest.checkOut.date
          p.mb-0= guest.checkOut.time
        td.text-capitalize
          p.mb-0= guest.roomType.name
          p.mb-0= guest.roomType.type
        td
          span.rounded-3.btn.text-capitalize(class=guest.status.class)= guest.status.name
        td
          .dropdown
            button.btn(type='button' data-bs-toggle='dropdown' aria-expanded='false')
              i.las.la-ellipsis-h
            ul.dropdown-menu(aria-labelledby='dropdownMenuButton1')
              li
                a.dropdown-item(href='#') Action
              li
                a.dropdown-item(href='#') Another action
              li
                a.dropdown-item(href='#') Something else here

doctype html
html(lang='en')
  head
    title hotels.com
    // Local Files
    link(rel='stylesheet' href='vendors/bootstrap-5.1.3-dist/css/bootstrap.min.css')
    script(src='vendors/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js')
    // jQuery
    script(src='vendors/jquery-3.6.0/jquery-3.6.0.min.js')
    // chart
    script(src='vendors/chart.js-3.5.0/chart.min.js')
    script(src='js/main.js')
    script(src='js/dashboard.js')
    // Fonts
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap' rel='stylesheet')
    // Line awesome
    link(rel='stylesheet' href='vendors/line-awesome-1.3.0/css/line-awesome.min.css')
    // Flags icons
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css')
    link(rel='stylesheet' href='css/main.css')
  body
    .d-flex.h-100
      aside.sidenav.shadow-sm
        .p-0
          .brand-name.text-center.mt-3.mb-2
            .d-flex.justify-content-center.align-items-center
              img.me-1(src='img/logo.png' alt='' height='50')
          .list-group.list-group-flush
            a.list-group-item.list-group-item-action.d-flex.flex-column.align-items-center.border-0.text-capitalize.py-3(href='')
              i.las.la-columns.la-2x
              span dashboard
            a.list-group-item.list-group-item-action.d-flex.flex-column.align-items-center.border-0.text-capitalize.py-3(href='')
              i.las.la-key.la-2x
              span rooms
            a.list-group-item.list-group-item-action.d-flex.flex-column.align-items-center.border-0.text-capitalize.py-3(href='')
              i.las.la-calendar-check.la-2x
              span bookings
            a.list-group-item.list-group-item-action.d-flex.flex-column.align-items-center.border-0.text-capitalize.py-3(href='')
              i.las.la-user-alt.la-2x
              span guests
            a.list-group-item.list-group-item-action.d-flex.flex-column.align-items-center.border-0.text-capitalize.py-3(href='')
              i.las.la-user-tie.la-2x
              span concierge
            a.list-group-item.list-group-item-action.d-flex.flex-column.align-items-center.border-0.text-capitalize.py-3(href='')
              i.las.la-cog.la-2x
              span settings
          .position-absolute.bottom-0.ps-3.text-center
            h6.mb-0.text-capitalize hotel.com admin
            p.mb-0 &copy; All rights reserved
      .container-fluid
        header
          nav.navbar.navbar-expand-lg
            .container-fluid
              a.navbar-brand(href='#').d-flex.align-items-center
                i.las.la-user-alt.la-2x.me-2
                span Guests list
              button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
              #navbarSupportedContent.collapse.navbar-collapse
                form.ms-auto.d-flex.w-50
                  .input-group
                    input.form-control(type='search' placeholder='search location, hotel name, facilities' aria-label='Search')
                    span.input-group-text.bg-transparent
                      i.las.la-search
                ul.navbar-nav.ms-auto.align-items-center
                  li.nav-item
                    a.nav-link.fs-4(href='#')
                      i.las.la-bell
                  li.nav-item
                    a.nav-link.fs-4(href='#')
                      i.las.la-envelope
                  .dropdown
                    button.btn#account-dropdown(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                      .d-flex.align-items-center.gap-2
                        img.img-cover.rounded-circle.border(src='img/icons8_account_120px.png' width='40' height='40')
                        .text-start
                          p.mb-0.text-capitalize john doe
                          p.small.mb-0 guest
                        label
                          i.las.la-angle-down
                    ul.dropdown-menu
                      li
                        a.dropdown-item(href='#') Action
                      li
                        a.dropdown-item(href='#') Another action
                      li
                        a.dropdown-item(href='#') Something else here
                      li
                        hr.dropdown-divider
                      li
                        a.dropdown-item(href='#') Separated link
        main
          .container.py-3
            .section
              .row.align-items-center
                .col-lg-6
                  .card
                    .card-body.p-1
                      ul.nav.nav-tabs(role='tablist')
                        li.nav-item(role='presentation')
                          a#all-guests-tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#all-guests' type='button' role='tab' aria-controls='all-guests' aria-selected='true')
                            | all guests
                            span.ms-1 (960)
                        li.nav-item(role='presentation')
                          a#pending-guests-tab.nav-link(data-bs-toggle='tab' data-bs-target='#pending-guests' type='button' role='tab' aria-controls='pending-guests' aria-selected='false')
                            | pending
                        li.nav-item(role='presentation')
                          a#booked-guests-tab.nav-link(data-bs-toggle='tab' data-bs-target='#booked-guests' type='button' role='tab' aria-controls='booked-guests' aria-selected='false')
                            | booked
                        li.nav-item(role='presentation')
                          a#cancelled-guests-tab.nav-link(data-bs-toggle='tab' data-bs-target='#cancelled-guests' type='button' role='tab' aria-controls='cancelled-guests' aria-selected='false')
                            | cancelled
                        li.nav-item(role='presentation')
                          a#refund-guests-tab.nav-link(data-bs-toggle='tab' data-bs-target='#refund-guests' type='button' role='tab' aria-controls='refund-guests' aria-selected='false')
                            | refund
                .col-lg-4
                  .card
                    .card-body.p-1
                      form.ms-auto.d-flex
                        .input-group
                          input.form-control(type='search' placeholder='search location, hotel name, facilities' aria-label='Search')
                          span.input-group-text.bg-transparent
                            i.las.la-search
                .col-lg-2
                  .card
                    .card-body.p-1
                      .dropdown
                        button.btn.dropdown-toggle.w-100(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                          | Export
                        ul.dropdown-menu
                          li
                            a.dropdown-item(href='#')
                              i.las.la-file-excel.me-1
                              | Excel
                          li
                            a.dropdown-item(href='#')
                              i.las.la-file-pdf.me-1
                              | PDF
                          li
                            a.dropdown-item(href='#')
                              i.las.la-print.me-1
                              | Print
              .card.mt-3
                .card-body
                  .tab-content
                    #all-guests.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='all-guests-tab')
                      .table-responsive
                        table.table.table-hover
                          thead
                            tr.text-capitalize
                              th guest
                              th date order
                              th check in
                              th check out
                              th room type
                              th status
                              th
                          tbody
                            + guests
                    #pending-guests.tab-pane.fade(role='tabpanel' aria-labelledby='pending-guests-tab') ...
                    #booked-guests.tab-pane.fade(role='tabpanel' aria-labelledby='booked-guests-tab') ...
                    #cancelled-guests.tab-pane.fade(role='tabpanel' aria-labelledby='cancelled-guests-tab') ...
                    #refund-guests.tab-pane.fade(role='tabpanel' aria-labelledby='refund-guests-tab') ...

